openapi: 3.0.0
info:
  title: Microsoft Graph License Optimizer API
  description: Fetch users and subscribed SKUs for license optimization analysis.
  version: v1
servers:
  - url: https://graph.microsoft.com/beta

paths:
  /users:
    get:
      summary: List users with license and sign-in data
      description: >
        Retrieve all users with license assignment states, sign-in activity, and account status.
        Use $select to return only required properties.
        The $top parameter is included to request the maximum number of results per page.
      operationId: ListUsersAPISkill
      parameters:
        - name: $select
          in: query
          required: true
          schema:
            type: string
          description: Always request these specific properties userPrincipalName, accountEnabled, licenseAssignmentStates.
        - name: $top
          in: query
          required: true
          schema:
            type: integer
            enum: [400]
          description: >
            Maximum number of users to return per page. Always set to 400 to minimize pagination.
        - name: $filter
          in: query
          required: true
          schema:
            type: string
            enum: ["assignedLicenses/$count ne 0"]
          description: >
            Filter to only return users with at least one assigned license.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /subscribedSkus:
    get:
      summary: List all subscribed SKUs for the tenant
      description: >-
        Retrieve all available license SKUs, including SKU IDs, usage counts, and service plans.
      operationId: ListSubscribedSkusAPISkill
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
